@import url(./reset.css);
:root{
  --primary-color: #fff;
  --secondary-color: #fff;
  --accent-color: #fff;

  --white: #fff;
  --black: #000;

  --gray100: #eee;
  --gray200: #ccc;
  --gray300: #aaa;

  --container-size: 940px;
  --spacing-lg: 30px;
  --spacing-base: 20px;
  --spacing-sm: 10px;
}

/* 기본 스타일 */
html{
  font-size: 0.625em;
}


body{
  font-size: 1.4rem;
  --text-color: var(--black);
  --bg-color: var(--gray300);

  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: var(--text-color);
  /* background-color: var(--bg-color);
  background-image: url("./../assets/bg/bg_flower.png"), linear-gradient(var(--gray200) 0%, var(--gray100) 30%, var(--white) 60%, var(--white) 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0; */

  background: url("./../assets/bg/bg_flower.png") no-repeat 50% 0, linear-gradient(var(--gray200) 0%, var(--gray100) 30%, var(--white) 60%, var(--white) 100%) repeat 0 0, var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  body{
    --text-color: var(--white);
    --bg-color: var(--black);
  }
}

/*링크 스타일*/
a{
  color: inherit; /*상속된 값을 쓰겠다*/
  text-decoration: none;
}

/* 레이아웃 */
.header, .visual, .slogan, .footer-inner{
  width: var(--container-size);
  padding: 0 var(--spacing-lg);
  margin: 0 auto;
}


/* 헤더 */
.header{
  background-color: var(--white);
  position: relative;
}

/*건너뛰기 링크(접근성에 필요함)*/
/*.skip-nav{
  a{
    position: absolute;
    width: 100%;
    padding: var(--spacing-sm) 0;
    background-color: var(--bg-color);
    color: var(--white);
    z-index: 10;
    text-align: center;
    transform: translateY(-100%); /*브라우저 밖으로 숨김 
  }
  
  a:focus{
    transform: none; /*포커스하면 생기게 
  }
  */

  .skip-nav{
    background: #000;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transform: 0 -100%;

    &:focus-within{
      translate: 0 0; 
    }

    a{
      padding: 8px;
    }
  }
 

/*로고*/
.logo{
  line-height: 1;
  position: absolute;
  top: 45px;
  left: 65px;

  a{
    display: block;
    
    img{
      vertical-align: top; /*block에는 사용 못함. 인라인에서만 가능*/
    }
  }
}


/*안내 링크*/
.member{
  --focus-area: 4px;
  --link-sm-spacing: 4px;
  --link-md-spacing: 8px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end; /*정렬*/
  padding: var(--focus-area) 0;
  position: relative;
  right: calc(var(--link-md-spacing) * -1); /*음수 함수*/
  
  & li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center; /*교차축 정렬*/

    & a{
      padding: var(--link-sm-spacing) var(--link-md-spacing);
      text-transform: uppercase; /*대문자로 변환해서 랜더링*/
    }
  }

}




/*메인 메뉴*/

/*비주얼*/

/* 비주얼 */
.visual{
  height: 10vh;
}

/* 메인콘텐츠 */
.main{
  height: 60vh;
  width: var(--container-size);
  margin: 0 auto;
  background-color: var(--white);
  display: flow-root;
  padding: 0 15px;
}

.group{
  float: left;
  margin: 0 15px;
  border: 1px solid blue;
}
.group1{
  background-color: lime;
  width: 250px;
}
.group2{
  background-color: skyblue;
  width: 380px;
}
.group3{
  background-color: violet;
  width: 190px;
}

/* 슬로건 */
.slogan{
  background-color: teal;
  height: 10vh;
}


/* 푸터 */
.footer{
  height: 10vh;
  background-color: gray;
}
